@import "tailwindcss";

.carousel-box img[data-active="true"] {
    opacity: 1;
}

.carousel-box img[data-active="false"] {
    opacity: 0;
}

.carousel-example img {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    min-width: 200px;
    object-fit: cover;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.6s linear;
}

.show {
    animation: showAnimation 1s ease-in-out forwards;
    z-index: 3;
    opacity: 1;
}

.hide {
    animation: hideAnimation 1s ease-in-out forwards;
    z-index: 2;
    opacity: 0;
}

@keyframes showAnimation {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes hideAnimation {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
